@import 'mixins';

body {
  background-color: rgb(250, 250, 250);
}

/* CAROUSEL MODULE */
.welcome-paragraph {
  text-align: center;
}

.carousel-container {
  display:flex;
  flex-flow: row nowrap;
  align-items:center;

  button {
    background: none;
    border:none;
    cursor: pointer;
    font-size: 2rem;
    &:hover {
      color: darkgrey;
    }
  }
}

.carousel-slide-container {
  width: 100%;

  .carousel-items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    padding: 2rem;
    background-color: #f0f0f0;

    img {
      height: 250px;
      display: block;
    }
  }

  /* rubric11 - Whenever the product carousel changes it slide, it should do in
an animated way */
  .active-item {
    opacity: 1;
    display: flex;
    animation: moveInRight 500ms ease-in;
  }

  .carousel-text,
  .carousel-text a {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: none;
      color: black;
    }
  }
}


/* CATEGORY SIDEBAR MODULE */
#categoryListAccordion {
  svg {
    color: black;
  }

  a.disabled {
    cursor: default;
    color: grey !important;
  }
}

/* SHOP BODY MODULE */
.card-container {
  display: flex;
  flex-flow: row wrap;
}

.item-card {
  flex: 0 1 100%;
  margin: 1rem;
  color: #0f0f0f;
  animation: moveInRight 300ms ease-out;

  @include breakpoint(md) {
    flex: 0 1 45%;
  }

  &:hover {
    color: black;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
  }

  &.product-card .card-body {
    justify-content: space-between;
  }

  .card-body {
    display: flex;
    flex-flow: column nowrap;

    .card-img-top {
      height: 125px;
      width: auto;
      align-self: center;
      margin-bottom: 16px;
    }
  }

  &.cart-list-card {
    flex: 0 0 100%;
    margin: 10px 0;
  }
}

/* Product Page Module */

.product-image {
  width: 100%;
}


#itemQuantity {
  width: 70px;
}

/* About Page Module */
.about-banner {
  background: url('./images/grocery-background.jpg') no-repeat center top;
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  .inner-text {
    padding: 1rem 2rem;
    background-color: white;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: "Open Sans",Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;

    .line-2 {
      letter-spacing: 1.2rem;
    }
  }
}

/* Footer Module */
footer {
  padding: 1rem 0;
  
  .nav-link {
    color: white;

    &:hover {
      color: #18BC9C;
    }
  }
}

/* Animations */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
  }

  80% {
    transform: translateX(.5rem);

  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(3rem);
  }

  80% {
    transform: translateX(-.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  80% {
    transform: translateY(-.5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}