@import 'mixins';

body {
  background-color: rgb(250, 250, 250);
}

/* CAROUSEL MODULE */
#productCarousel {
  .carousel-inner {

    article {
      height: 350px;
      background-color: #ececec;


      img {
        height: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    color: black;
    font-size: 2rem;
  }
}

/* CATEGORY SIDEBAR MODULE */
#categoryListAccordion {
  svg {
    color: black;
  }

  a.disabled {
    cursor: default;
    color: grey !important;
  }
}

/* SHOP BODY MODULE */
.card-container {
  display: flex;
  flex-flow: row wrap;
}

.item-card {
  flex: 0 1 100%;
  margin: 1rem;
  color: #0f0f0f;

  @include breakpoint(md) {
    flex: 0 1 45%;
  }

  &:hover {
    color: black;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
  }

  &.product-card .card-body {
    justify-content: space-between;
  }

  .card-body {
    display: flex;
    flex-flow: column nowrap;

    .card-img-top {
      height: 125px;
      width: auto;
      align-self: center;
      margin-bottom: 16px;
    }
  }

  &.cart-list-card {
    flex: 0 0 100%;
    margin: 10px 0;
  }
}

/* Product Page Module */

.product-image {
  width: 100%;
}